.section-hero {
    display: flex;
    height: 100vh;
    background-image: url('/assets/fotografo-esportivo-bruninho-volotao.webp');
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}

.section-hero h1 {
    color: white;
    font-size: 58px;
    font-weight: 800;
    text-align: right;
    font-family: "Rubik", sans-serif;
}

.section-hero h2 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    text-align: right;
    font-family: "Rubik", sans-serif;
}

.section-hero p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-align: right;
    letter-spacing: 4px;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
}

.section-hero button {
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    float: right;
    padding: 15px 30px;
    background: transparent;
    transition: all linear 0.3s;
    cursor: pointer;
}

.section-hero button:hover {
    background-color: #900;
}

.section-sobre {
    padding: 60px 0;
    background-image: url('/assets/background-bruninho-volotao.webp');
    background-attachment: fixed;
    background-size: cover;
}

.section-sobre h2 {
    color: #333;
    font-size: 46px;
    font-weight: 800;
    text-align: left;
    font-family: "Rubik", sans-serif;
}

.section-sobre-grid{
    display: flex;
    padding: 20px;
}

.section-sobre-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.section-sobre-icon svg{
    font-size: 30px;
    border: 3px solid #000;
    padding: 15px;
    border-radius: 10px;
    transition: all linear 0.2s;
}

.section-sobre-icon svg:hover{
    color: #fff;
    background-color: #900;
    border: 3px solid #900;
}

.section-sobre p {
    margin-top: 15px;
    padding-right: 30px;
}

.section-sobre button {
    color: #333;
    border: 3px solid #333;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    float: left;
    padding: 15px 30px;
    background: transparent;
    transition: all linear 0.3s;
    cursor: pointer;
}

.section-sobre button:hover {
    background-color: #900;
    border: 3px solid #900;
    color: white;
}



/* RESPONSIVE DESIGN */

@media (max-width: 835px) {
    .section-hero{
        height: 40vh;
        background-size: contain;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .section-hero::before{
        content: "";
        position: absolute;
        inset: 0;
        background-Color: #00000095;
        z-Index: -1;
    }
    .section-hero h1{
        text-align: center;
    }
    .section-hero h2{
        text-align: center;
    }
    .section-hero p{
        text-align: center;
    }
    .section-hero a{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .section-sobre-grid{
        padding: 3em 12em;
    }
}

@media (max-width: 500px) {
    .section-hero {
        height: 50vh;
        background: #000
    }
    .section-hero h1 {
        font-size: 1.8em;
    }
    .section-hero h2 {
        font-size: 1.5em;
    }
    .section-hero p {
        font-size: 0.6em;
    }

    .section-sobre{
        padding: 2em 0;
    }
    .section-sobre-content h2{
        font-size: 2em;
    }
    .section-sobre-content p{
        padding: 0;
    }

    .section-sobre-grid {
        padding: 3em 0em
    }
}

